body {
  background-color: rgb(80, 79, 79);
  font-family: cursive;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

@media (max-width: 767px) {
  .beBlur {
    filter: blur(4px);
  }
}
